{% load static %}
{% load unicorn %}

<!DOCTYPE html>
<html lang="en">
<head>
    <script defer src="https://unpkg.com/@alpinejs/morph@3.x.x/dist/cdn.min.js"></script>
    <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
    {% unicorn_scripts %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Joyas Celeste</title>
    <link rel="icon" href="{% static 'images/favicon_v2.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% include "tailwind/cdn-tailwind.html" %}
    <script src="https://sdk.mercadopago.com/js/v2"></script>
</head>
<body>
    {% csrf_token %}
    
    <!-- Messages -->
    {% unicorn "django-messages" tailwind_class="z-30 top-28 md:left-4" %}

    <!-- Shopping Cart -->
    {% unicorn "shopping-cart" dollar_blue=dollar_blue %}

    <!-- Left Side Navbar -->
    {% include "components-base/left-side-navbar.html" %}

    <!-- Main Content -->
    <section id="main_content" class="bg-primary-earth_tone_3_light">
        {% block content %}
        {% endblock content %}
    </section>

    <!-- Footer -->
    {% include "components-base/footer.html" %}

    <!-- Whatsapp Button -->
    <button type="button" id="whatsapp_button" onclick="openWhatsApp()"
        class="z-10 fixed bottom-3 right-3 sm:bottom-5 sm:right-5 flex items-center p-2.5 sm:p-3 
        bg-tertiary-whatsapp_green_tone rounded-full shadow-xl scale-80 hover:bg-tertiary-whatsapp_green_tone/80"
    >
        {% include "icons/whatsapp.html" with tailwind_class="size-7 sm:size-9 text-white" %}
    </button>

</body>
<script type="module" src="{% static 'js/base.js' %}"></script>
<script type="module" src="{% static 'js/shopping-cart.js' %}"></script>
<script type="module" src="{% static 'js/message.js' %}"></script>
<script src="{% static 'js/tailwind/tailwind.config.js' %}"></script>
</html>
