{% load static %}
{% load unicorn %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% unicorn_scripts %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Joyas Celeste</title>
    <link rel="icon" href="{% static 'images/favicon_v2.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% include "tailwind/cdn-tailwind.html" %}
</head>
<body>
    {% csrf_token %}
    
    <section>
        {% include "components-base/navbar.html" %} <!-- NAVBAR -->
        {% include "components-base/left-side-navbar.html" %} <!-- LEFT SIDE NAVBAR -->
        {% include "components-base/right-side-navbar.html" %} <!-- RIGHT SIDE NAVBAR -->
    </section>    

    <section class="bg-primary-earth_tone_3_light">
        {% block content %}
        {% endblock content %}
    </section>

    <section>
        {% include "components-base/footer.html" %} <!-- FOOTER -->
    </section>

    <!-- messages -->


    <!-- whatsapp button -->
    <div id="whatsapp_button" 
        class="z-10 fixed bottom-3 right-3 sm:bottom-5 sm:right-5 p-3 pt-4 bg-tertiary-whatsapp_green_tone 
        rounded-full shadow-xl cursor-pointer scale-80">
        <button type="button">
            {% include "icons/whatsapp.html" with tailwind_class="w-10 h-8 text-white" %}
        </button>
    </div>

</body>
<script type="module" src="{% static 'js/base.js' %}"></script>
<script type="module" src="{% static 'js/shopping-cart.js' %}"></script>
<script src="{% static 'js/tailwind/tailwind.config.js' %}"></script>
</html>
