{% load unicorn %}

<!-- Product Variations - Select -->
<div id="product_{{ product.uuid }}_variations" class="flex flex-col items-center gap-y-2 w-full">

    <!-- Product Variation Size -->
    {% if variations %}
    <div class="flex flex-row items-center justify-center gap-x-2 w-full text-center text-gray-500">
        <div>Talle</div>
        <select id="product_{{ product.uuid }}_size" name="product_size" 
            unicorn:change="get_stock($event.target.value.trim())" unicorn:model="product_size" 
            class="w-full max-w-16 sm:max-w-20 text-center text-primary-earth_tone_4 border-2 
            border-primary-earth_tone_4 rounded-md outline-none cursor-pointer"
        >
            {% for variation in variations %}
            {% if variation.stock > 0 %}
            <option value="{{ variation.measure.size }}">{{ variation.measure.size }}</option>
            {% endif %}
            {% endfor %}
        </select>
    </div>
    {% endif %}

    <!-- Product Variation Stock -->
    {% if product_stock %}
    <div class="text-center text-primary-earth_tone_4">
        {{ product_stock }} 
        {% if product_stock == 1 %} disponible {% else %} disponibles {% endif %}
    </div>
    {% else %}
    <div class="text-center text-primary-earth_tone_4">No disponible</div>
    {% endif %}
    
</div>
