{% load inclusiontags.pagination_controls_tag %}
{% load inclusiontags.product_card_tag %}

<div>
    <!-- Search Engine -->
    {% include "unicorn/components-products/search-engine.html" %}
    
    <!-- Settings -->
    {% include "unicorn/components-products/settings.html" %}

    <section class="relative flex flex-col w-full min-h-screen pt-32 sm:pt-36">

        <!-- Label -->
        <div class="flex justify-center w-full">
            <div class="w-full p-6 bg-primary-earth_tone_4 text-center">
                <span class="text-2xl sm:text-4xl text-primary-earth_tone_3 cinzel-semibold">
                    {% if category and subcategory %} {{ category }} {{ subcategory }}
                    {% elif category %} {{ category }}
                    {% else %} Productos
                    {% endif %}
                </span>
            </div>
        </div>

        <!-- Loading Screen -->
        <div class="hidden flex-1 items-center justify-center size-full" 
            unicorn:loading.class.remove="hidden" unicorn:loading.class="flex"
        >
            <div class="flex items-center justify-center size-full">
                <div class="flex flex-row items-center justify-center gap-x-4 w-fit p-2 bg-white rounded-md">
                    {% include "../icons/circle.html" with tailwind_class="w-8 md:w-10 h-8 md:h-10 text-primary-earth_tone_3 fill-primary-earth_tone_4 animate-spin" %}
                    <div class="text-lg md:text-xl">Cargando productos</div>
                </div>
            </div>
        </div>

        <!-- Products -->
        <div class="flex-1 flex justify-center size-full 
            {% if products %} items-start {% else %} items-center {% endif %}" 
            unicorn:loading.class="hidden"
        >
            {% if products %}
            <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 
                items-center content-evenly justify-items-center gap-12 w-full h-full p-8 sm:p-12">
                {% for product in products %}
                {% product_card request product dollar_blue %}
                {% endfor %}
            </div>
            <div>
                {% pagination_controls page_data page_numbers %}
            </div>
            {% else %}
            <div class="flex flex-wrap items-center justify-center size-full">
                <div class="p-2 sm:p-4 text-center text-lg sm:text-2xl text-primary-earth_tone_4 mukta-light 
                    border-b-2 border-primary-earth_tone_4 rounded-sm">
                    Aún no hay productos
                </div>
            </div>
            {% endif %}
        </div>

    </section>
</div>
