<!-- Blurring -->
<div id="background_lsb" class="fixed z-40 left-0 bottom-0 size-full bg-black bg-opacity-50 transform -translate-x-full"></div>

<!-- Left Sidebar -->
<div id="left_sidebar" class="fixed z-50 left-0 bottom-0 size-full max-w-sm bg-white 
    transform -translate-x-full transition-transform duration-300 ease-in-out"
>
    <div class="relative flex flex-col size-full">

        <!-- Left Sidebar Header -->
        <div id="left_sidebar_header" class="px-3">
            <div class="flex flex-row items-center justify-between w-full h-24 px-1 border-b-2 border-gray-200">
                <button type="button" id="close_menu_button" 
                    onclick="openSideNavbar('background_lsb', 'left_sidebar', '-translate-x-full')"
                >
                    {% include "../icons/x-mark.html" with tailwind_class="size-8 text-primary-earth_tone_4 transition-transform duration-300 ease-in-out hover:rotate-90" %}
                </button>
                <div class="text-xl cinzel-semibold">Menú</div>
            </div>
        </div>
    
        <!-- Left Sidebar Body -->
        <div id="left_sidebar_body" class="flex flex-col gap-y-2 w-full p-4 overflow-auto overscroll-contain">
    
            {% if request.user.is_authenticated %}
            <!-- Profile Redirect -->
            <a href="{% url 'profile' %}" id="profile_redirect" class="p-2 text-center border-2 border-primary-earth_tone_4 rounded-sm">
                <div class="w-full text-lg text-primary-earth_tone_4">Perfil</div>
            </a>
            {% else %}
            <!-- Sign Up & Login Redirects -->
            <div class="flex flex-row gap-x-2 text-center">
                <a href="{% url 'sign-up' %}" id="sign_up_redirect" class="w-full p-2 border-2 border-primary-earth_tone_4 rounded-sm">
                    <div class="w-full text-lg text-primary-earth_tone_4 cursor-pointer">Registrarse</div>
                </a>
                <a href="{% url 'login' %}" id="login_redirect" class="w-full p-2 bg-primary-earth_tone_4 
                    border-2 border-primary-earth_tone_4 rounded-sm"
                >
                    <div class="w-full text-lg text-white cursor-pointer">Iniciar Sesión</div>
                </a>
            </div>
            {% endif %}
            
            <!-- Index Redirect -->
            <a href="{% url 'index' %}" id="index_redirect" class="p-2 text-center 
                text-gray-600 border-2 border-gray-300 rounded-sm"
            >
                <div class="w-full text-lg">Inicio</div>
            </a>
    
            <!-- Products Redirect -->
            <a href="{% url 'products' %}" id="products_redirect" class="p-2 text-center 
                text-gray-600 border-2 border-gray-300 rounded-sm"
            >
                <div class="w-full text-lg">Productos</div>
            </a>
            
            <!-- Categories Redirects -->
            <div class="text-gray-600">
                <div class="flex flex-row items-center justify-between p-2 text-center border-2 border-gray-300 rounded-sm">
                    <div class="w-full text-lg">Categorias</div>
                    {% include "../icons/arrow-down.html" with rotate="rotate-0" tailwind_class="card_arrow w-5 h-5 transition-transform duration-300 ease-in-out cursor-pointer" %}                
                </div>
                
                <!-- Hidden Categories -->
                <div id="categories_redirects" class="sub_menu h-full max-h-0 transition-all duration-300 ease-in-out opacity-0 overflow-auto">
                    <div class="flex flex-col items-left gap-y-2 p-3">
                        {% for category in categories %}
                        <div class="flex flex-row items-center justify-between w-full">
                            <a href="{% url 'category' name=category.slug %}" id="category_{{ category.slug }}_redirect" class="w-fit">
                                <div class="w-fit py-1 border-b-2 border-gray-300">{{ category.name }}</div>
                            </a>
                            {% include "../icons/arrow-down.html" with rotate="rotate-0" tailwind_class="card_arrow w-5 h-5 transition-transform duration-300 ease-in-out cursor-pointer" %}
                        </div>
                        
                        <!-- Hidden Subcategories -->
                        <div id="subcategories_redirects" class="sub_menu h-full max-h-0 transition-all 
                            duration-300 ease-in-out opacity-0 overflow-auto"
                        >
                            <div class="flex flex-col items-left gap-y-2 px-3">
                                {% for subcategory in category.subcategories.all %}
                                <a href="{% url 'subcategory' name=category.slug sub_name=subcategory.slug %}" 
                                    id="subcategory_{{ subcategory.slug }}_redirect" class="w-fit"
                                >
                                    <div class="w-fit py-1 border-b-2 border-gray-300">{{ subcategory.name }}</div>
                                </a>
                                {% endfor %}
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
    
            <!-- Log Out Button -->
            {% if request.user.is_authenticated %}
            <form id="log_out_form" method="POST" action="{% url 'logout' %}">
                {% csrf_token %}
                <button type="submit" id="log_out_button" class="w-full p-2 bg-primary-earth_tone_4 text-lg 
                    text-center text-white border-2 border-primary-earth_tone_4 rounded-sm"
                >Cerrar Sesión</button>
            </form>
            {% endif %}

        </div>
    </div>
</div>
