<div id="background_lsn" class="fixed z-40 left-0 bottom-0 w-full h-full bg-black bg-opacity-20
    transform -translate-x-full">
</div>
<div id="left_side_navbar" class="fixed z-50 left-0 bottom-0 flex flex-col 
    h-full w-full sm:w-2/4 lg:w-1/4 p-2 bg-white overflow-auto gap-y-6
    transform -translate-x-full transition-transform duration-300 ease-in-out">

    <div class="relative w-full h-full">
        <div class="flex flex-row items-center justify-between w-full h-20">
            <div id="close_menu" class="flex items-center ml-5 mr-auto">
                {% include "../icons/x-mark.html" with tailwind_class="w-8 h-8 text-primary-earth_tone_4 transition-transform duration-300 ease-in-out cursor-pointer hover:rotate-90" %}
            </div>
            <div class="mr-5 text-xl cinzel-semibold">
                Menú
            </div>
        </div>
    
        <div class="flex flex-col items-center w-full py-4 border-t-2 border-secondary-gray_tone_1">
            <div class="flex flex-col gap-y-2 w-[90%]">
    
                {% if request.user.is_authenticated %}
                <div class="relative p-2 text-center border border-2 border-primary-earth_tone_4 rounded-sm">
                    {% comment %} <a href="{% url 'profile' %}"> {% endcomment %}
                        <div class="w-full text-lg cursor-pointer">Perfil</div>
                    {% comment %} </a> {% endcomment %}
                </div>
                {% else %}
                <div class="relative p-2 text-center border border-2 border-primary-earth_tone_4 rounded-sm">
                    <a href="{% url 'sign-up' %}">
                        <div class="w-full text-lg cursor-pointer">Crear Cuenta</div>
                    </a>
                </div>
                {% endif %}
                
                <div class="relative p-2 text-center border border-2 rounded-sm">
                    <a href="{% url 'index' %}">
                        <div class="w-full text-lg cursor-pointer">Inicio</div>
                    </a>
                </div>
    
                <div class="relative p-2 text-center border border-2 rounded-sm">
                    <a href="{% url 'products' %}">
                        <div class="w-full text-lg cursor-pointer">Productos</div>
                    </a>
                </div>
                
                <div class="relative p-2 text-left border border-2 rounded-sm">
                    <div class="w-full text-lg">
                        <a class="font-medium cursor-pointer" href="{% url 'categories' %}">Categorias</a>
                    </div>
                    <div class="absolute right-2 bottom-3">
                        {% include "../icons/arrow-down.html" with rotate="rotate-0" tailwind_class="card_arrow w-5 h-5 transition-transform duration-300 ease-in-out cursor-pointer" %}                
                    </div>
                </div>
    
                <div class="sub_menu h-0 pb-0 transition-all duration-500 ease-in-out opacity-0 overflow-auto">
                    <ul class="flex flex-col items-left gap-y-2">
                        {% for category in categories %}
                        <div class="flex flex-row w-full pl-3">
                            <div class="w-fit">
                                <a href="{% url 'category' name=category.slug %}">
                                    <li class="w-fit py-1 border-b-2">{{ category.name }}</li>
                                </a>
                            </div>
                            <div class="relative w-full p-2 text-left">
                                <div class="absolute right-2 bottom-3">
                                    {% include "../icons/arrow-down.html" with rotate="rotate-0" tailwind_class="card_arrow w-5 h-5 transition-transform duration-300 ease-in-out cursor-pointer" %}                
                                </div>
                            </div>
                        </div>
    
                        <div class="flex flex-col items-left w-full pl-6">
                            <div class="flex flex-col gap-y-2 w-full">
    
                                <div class="sub_menu h-0 pb-0 transition-all duration-500 ease-in-out opacity-0 overflow-auto">
                                    <ul class="flex flex-col items-left gap-y-2">
                                        {% for subcategory in category.subcategories.all %}
                                        <div class="w-fit pl-3">
                                            <a href="{% url 'subcategory' name=category.slug sub_name=subcategory.slug %}">
                                                <li class="w-fit py-1 border-b-2">{{ subcategory.name }}</li>
                                            </a>
                                        </div>
                                        {% endfor %}
                                    </ul>
                                </div>
    
                            </div>
                        </div>
                        {% endfor %}
                    </ul>
                </div>
    
            </div>
        </div>
    </div>

</div>
