{% load static %}
{% load unicorn %}

<div class="fixed left-0 top-0 z-20 w-full flex flex-row items-center justify-between p-2 bg-white">
    <div id="menu" class="pl-5">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" 
            stroke-width="1.5" stroke="currentColor" class="w-8 h-8 text-primary-earth_tone_4 cursor-pointer">
            <path stroke-linecap="round" stroke-linejoin="round" 
                d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
        </svg>
    </div>
    <div class="w-32 h-20">
        <img class="w-32 h-20" src="{% static 'images/cj-logo.png' %}" alt="">
    </div>
    <div id="cart" class="relative pr-5">
        {% unicorn "shopping-cart-counter" %}
        {% include "../icons/shopping-bag.html" with tailwind_class="w-8 h-8 text-primary-earth_tone_4 cursor-pointer" %}
    </div>
</div>
