{% load static %}
{% load unicorn %}
{% load filters.product_filter %}

<!-- Blurring -->
<div id="background_rsb" class="fixed z-40 right-0 bottom-0 size-full bg-black bg-opacity-50 transform 
    {% if not is_cart_open %} translate-x-full {% endif %}"
></div>

<!-- Right Sidebar -->
<div id="right_sidebar" class="fixed z-50 right-0 bottom-0 size-full max-w-sm bg-white 
    transform transition-transform duration-300 ease-in-out
    {% if not is_cart_open %} translate-x-full {% endif %}"
>
    <!-- Shopping Cart -->
    <div id="shopping_cart" class="relative flex flex-col size-full">
    
        <!-- Shopping Cart Header -->
        <div id="shopping_cart_header" class="px-3">
            <div class="flex flex-row items-center justify-between w-full h-24 px-1 border-b-2 border-gray-200">
                <div class="text-xl cinzel-semibold">Carrito</div>
                <button type="button" id="close_cart_button" unicorn:click="display_cart('False')">
                    {% include "../icons/x-mark.html" with tailwind_class="size-8 text-primary-earth_tone_4 transition-transform duration-300 ease-in-out hover:-rotate-90" %}
                </button>
            </div>
        </div>
    
        {% if cart and cart_items %}
        <!-- Shopping Cart Items -->
        <div id="shopping_cart_items" class="flex flex-col gap-y-4 h-full p-4 overflow-y-auto overscroll-contain">
            {% for item in cart_items %}
            <div id="cart_item_{{ item.key }}" class="relative flex flex-col w-full text-center 
                border border-primary-earth_tone_3_light rounded-md shadow-md"
            >
                <div class="flex flex-row items-stretch justify-between gap-x-1 w-full p-1">
                    <div class="self-center w-2/5">
                        <img class="w-full rounded-md" 
                        {% if item.product.image %} src="{{ item.product.image.url }}" {% else %} src="{% static 'images/default-no-image.png' %}" {% endif %}
                    ></div>
                    <div class="flex flex-col items-center justify-center gap-y-1">
                        <div>{{ item.product.name }}</div>
                        <div class="font-semibold">$ {{ item.price|convert_price_to_ARS:dollar_blue|format_number_AR }}</div>
                        <div>Talle {{ item.size }}</div>
                    </div>
                    <button type="button" id="remove_cart_item_{{ item.key }}_button" class="size-fit" 
                        unicorn:click.debounce-0100="remove_from_cart('{{ item.key }}')"
                    >
                        {% include "../icons/trash.html" with tailwind_class="size-6 text-red-700" %}
                    </button>
                </div>
                <div class="flex flex-row items-center justify-around p-2.5 bg-primary-earth_tone_3_light">
                    <button type="button" id="decrement_cart_item_{{ item.key }}_button" 
                        unicorn:click.debounce-0100="decrement_quantity('{{ item.key }}')" 
                        class="p-2 px-3 text-white bg-primary-earth_tone_4 rounded-sm"
                    >
                        {% include "../icons/minus-sign.html" with tailwind_class="size-4" %}
                    </button>
                    <div class="w-1/4 p-0.5 text-center text-primary-earth_tone_4 bg-white border-2
                        border-primary-earth_tone_4 rounded-md">
                        {{ item.quantity }}
                    </div>
                    <button type="button" id="increment_cart_item_{{ item.key }}_button" 
                        unicorn:click.debounce-0100="increment_quantity('{{ item.key }}')" 
                        class="p-2 px-3 text-white bg-primary-earth_tone_4 rounded-sm"
                    >
                        {% include "../icons/plus-sign.html" with tailwind_class="size-4" %}                              
                    </button>
                </div>
            </div>
            {% endfor %}
        </div>

        <!-- Shopping Cart Total Price -->
        <div id="shopping_cart_balances">
            <div class="bg-white px-3">
                <div class="flex flex-col gap-y-3 w-full py-3 border-t-2 border-gray-200">
                    <a href="{% url 'checkout' %}" id="checkout_redirect" class="w-full p-3 bg-primary-earth_tone_4 
                        text-white text-center rounded-md shadow-md hover:bg-primary-earth_tone_4/70"
                    >Continuar la compra</a>
                    <div class="flex flex-col gap-y-2">
                        <div class="flex flex-row justify-between">
                            <div class="text-md text-primary-earth_tone_4 font-semibold mukta-light">Subtotal:</div>
                            <div class="text-md font-semibold">
                                $ {{ cart.total_price|convert_price_to_ARS:dollar_blue|format_number_AR }}
                            </div>
                        </div>
                        <div class="flex flex-row justify-between">
                            <div class="text-md text-primary-earth_tone_4 font-semibold mukta-light">Envio:</div>
                            <div class="text-md font-semibold">
                                $ {{ 0|format_number_AR }} <!-- Agregar boton de añadir costo de Envio -->
                            </div>
                        </div>
                    </div>
                </div>    
            </div>
            <div class="flex flex-row justify-between p-3 bg-primary-earth_tone_4">
                <div class="text-lg text-primary-earth_tone_3_light cinzel-semibold">Total:</div>
                <div class="text-lg text-white font-semibold">
                    $ {{ cart.total_price|convert_price_to_ARS:dollar_blue|format_number_AR }}
                </div>
            </div>
        </div>
        {% else %}
        <!-- Not Shopping Cart Items Message -->
        <div id="shopping_cart_empty" class="flex items-center justify-center size-full">
            <div class="text-lg mukta-light">Tu carrito está vacío</div>
        </div>
        {% endif %}
        
    </div>
</div>
