/* FONTS */
.cinzel-600 {
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

#left_side_navbar::-webkit-scrollbar,
.sub_menu::-webkit-scrollbar {
    display: none;
    appearance: none;
}
