{% load inclusiontags.filter_tag %}

<div class="relative">

    <button onclick="toggleElementTranslateById('filters', 'translate-x-full')" class="z-10 fixed top-44 right-0 
        px-2 py-4 bg-white text-primary-earth_tone_4 font-semibold rounded-l-lg shadow-lg focus:outline-none">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 6h9.75M10.5 6a1.5 1.5 0 1 1-3 0m3 0a1.5 1.5 0 1 0-3 0M3.75 6H7.5m3 12h9.75m-9.75 0a1.5 1.5 0 0 1-3 0m3 0a1.5 1.5 0 0 0-3 0m-3.75 0H7.5m9-6h3.75m-3.75 0a1.5 1.5 0 0 1-3 0m3 0a1.5 1.5 0 0 0-3 0m-9.75 0h9.75" />
        </svg>
    </button>

    <div id="filters" class="z-20 fixed top-44 right-0 w-full max-w-md p-2 bg-white rounded-l-lg shadow-lg 
        transform translate-x-full transition-transform duration-300 ease-in-out">
        <div class="flex flex-row items-stretch gap-x-2">
            <div class="flex flex-col gap-y-2 w-full">
                
                {% if not category or not subcategory %}
                <div class="w-full p-2 text-center cinzel-semibold">
                    Filtrar por
                </div>
                <div class="flex flex-col gap-y-2 w-full text-primary-earth_tone_4">
                    <!-- Category Filter -->
                    {% if not category %}
                    {% select_filter "category" "selected_category" "categoria" categories %}
                    {% endif %}
                    <!-- Subcategory Filter -->
                    {% if not subcategory %}
                    {% select_filter "subcategory" "selected_subcategory" "subcategoria" subcategories %}
                    {% endif %}
                </div>
                <!-- Add -> Remove filter button -->
                {% endif %}

                <div class="w-full p-2 text-center cinzel-semibold">
                    Ordenar por
                </div>
                <div class="flex flex-col gap-y-2 w-full text-primary-earth_tone_4">
                    <!-- Created At Order -->
                    {% select_filter "creation_date_order" "selected_creation_date_order" "novedad" created_at_orders %}
                    <!-- Name Order -->
                    {% select_filter "name_order" "selected_name_order" "nombre" name_orders %}
                    <!-- Price Order -->
                    {% select_filter "price_order" "selected_price_order" "precio" price_orders %}
                </div>
                <!-- Add -> Remove filter button -->

            </div>
            <button onclick="toggleElementTranslateById('filters', 'translate-x-full')" 
                class="self-start my-1 text-primary-earth_tone_4 rounded-md focus:outline-none">
                {% include "icons/x-mark.html" with tailwind_class="size-7 transition-transform duration-300 ease-in-out hover:-rotate-90" %}
            </button>
        </div>
    </div>

</div>
