{% load static %}
{% load unicorn %}

<html lang="en">
<head>
    {% unicorn_scripts %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Joyas Celeste</title>
    <link rel="icon" href="{% static 'images/favicon_v2.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% include "tailwind/cdn-tailwind.html" %}
</head>
<body>
    {% csrf_token %}
    <!-- Messages -->
    {% unicorn "django-messages" tailwind_class="z-30 top-4 md:left-4" %}

    <!-- Login Form -->
    <section class="flex items-center justify-center w-full h-full bg-primary-earth_tone_3_light">
        <form method="post" enctype="multipart/form-data" id="login_form"
            class="flex flex-col w-full h-full sm:w-4/5 md:w-3/5 lg:w-2/5 sm:h-fit justify-between 
            sm:justify-center gap-y-12 p-6 sm:p-12 bg-white sm:rounded-lg sm:shadow-lg">
            {% csrf_token %}

            <!-- Logo -->
            <div class="flex justify-center w-full">
                <img class="w-32 h-20" src="{% static 'images/cj-logo.png' %}" alt="">
            </div>

            <!-- Fields -->
            <div class="flex flex-col gap-y-6">
                <div class="flex flex-col gap-y-2">
                    <label for="id_username" class="w-fit cursor-pointer cinzel-semibold">Usuario</label>
                    <input type="text" id="id_username" name="username" required
                        class="p-2 border-b border-b-1 border-primary-earth_tone_4 outline-primary-earth_tone_4">
                </div>
                <div class="flex flex-col gap-y-2">
                    <label for="id_password" class="w-fit cursor-pointer cinzel-semibold">Contraseña</label>
                    <div class="relative">
                        <input type="password" id="id_password" name="password" required
                            class="w-full p-2 border-b border-b-1 border-primary-earth_tone_4 
                            outline-primary-earth_tone_4">
                        <button type="button" id="toggle_password" class="absolute right-2 top-2 text-primary-earth_tone_4"
                            onclick="toggleDisplayPassword('id_password', 'eye_icon', 'eye_slash_icon')">
                            {% include "icons/eye.html" %}
                            {% include "icons/eye_slash.html" %}
                        </button>
                    </div>
                </div>
            </div>

            <!-- Buttons -->
            <div class="flex flex-col sm:flex-row gap-6 w-full">
                <div class="flex justify-center w-full">
                    <button type="submit" id="log_in_button" class="w-full p-2 bg-primary-earth_tone_4 text-lg
                        text-white rounded-sm mukta-light hover:bg-primary-earth_tone_4_0750">
                        Iniciar Sesión
                    </button>
                </div>
                <div class="flex justify-center w-full">
                    <a href="{% url 'sign-up' %}" class="w-full">
                        <button type="button" id="go_to_signup" class="w-full p-2 bg-white text-lg 
                            text-primary-earth_tone_4 border-2 border-primary-earth_tone_4 rounded-sm 
                            mukta-light hover:bg-zinc-50">
                            Ir a registrarse
                        </button>
                    </a>
                </div>
            </div>
        </form>
    </section>

</body>
<script type="module" src="{% static 'js/login.js' %}"></script>
<script type="module" src="{% static 'js/message.js' %}"></script>
<script src="{% static 'js/tailwind/tailwind.config.js' %}"></script>
</html>
