<div class="relative flex items-center w-full h-full bg_category_card bg-cover bg-no-repeat bg-center  
    rounded-lg shadow-md transform transition-transform duration-300 ease-in-out hover:scale-105">

    <!-- Blur -->
    <div class="absolute bottom-0 left-0 right-0 w-full h-full bg-black/25 rounded-lg"></div>
    
    <!-- Label -->
    <a href="{{ url }}" class="z-0 flex items-center justify-center w-full h-full text-center">
        <span class="text-xl sm:text-3xl text-white cinzel-semibold">{{ category_name }}</span>
    </a>

</div>
