<div class="flex flex-col items-center p-6">
    <div id="{{ id }}" class="flex flex-row items-center md:flex-col md:gap-y-4 lg:flex-row gap-x-4 
        w-fit cursor-pointer">
        <div>
            {{ icon_html }}
        </div>
        <div class="p-1 border-b-2 border-transparent text-primary-earth_tone_3_light transition-all 
            duration-200 ease-in-out hover:border-b-2 hover:border-primary-earth_tone_3_light 
            hover:scale-105">
            {{ content }}
        </div>
    </div>
</div>
