<div id="left_side_navbar" class="fixed z-10 left-0 bottom-0 flex flex-col 
    h-full w-full sm:w-2/4 lg:w-1/4 p-2 bg-white overflow-auto gap-y-6
    transform -translate-x-full transition-transform duration-300 ease-in-out">

    <div id="close_menu" class="flex items-center pl-5 mr-auto h-20">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" 
            stroke-width="1.5" stroke="currentColor" class="w-8 h-8 text-primary-earth_tone_4 cursor-pointer">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
        </svg>          
    </div>

    <div class="flex flex-col items-center w-full">
        <div class="flex flex-col gap-y-2 w-[90%]">

            <div class="relative p-2 text-center border border-2 rounded-sm">
                <a href="{% url 'index' %}">
                    <div class="w-full text-lg cursor-pointer">Inicio</div>
                </a>
            </div>
            
            <div class="relative p-2 text-center border border-2 rounded-sm">
                <div class="w-full text-lg">
                    <a class="cursor-pointer" href="{% url 'categories' %}">Categorias</a>
                </div>
                <div class="absolute right-2 bottom-3">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" 
                        stroke-width="1.5" stroke="currentColor" 
                        class="card_arrow w-5 h-5 rotate-0 transition-transform duration-300 ease-in-out
                        cursor-pointer">
                        <path stroke-linecap="round" stroke-linejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5" />
                    </svg>                  
                </div>
            </div>

            <div class="sub_menu h-0 pb-0 transition-all duration-500 ease-in-out opacity-0 overflow-auto">
                <ul class="flex flex-col items-center gap-y-2">
                    {% for category in categories %}
                    <a href="{% url 'category' name=category.name|lower %}">
                        <li class="py-1 border-b-2">{{ category.name }}</li>
                    </a>
                    {% endfor %}
                </ul>
            </div>

        </div>
    </div>

</div>
