{% load inclusiontags.filter_tag %}

<div class="relative">
    <!-- Open Product Settings Button -->
    <button type="button" id="open_product_settings" onclick="toggleElementTranslateById('product_settings', 'translate-x-full')" 
        class="z-10 fixed top-44 right-0 h-14 p-2 bg-white text-primary-earth_tone_4 font-semibold 
            rounded-l-lg shadow-lg focus:outline-none"
        >
            {% include "icons/adjustments.html" with tailwind_class="size-6" %}
    </button>

    <!-- Product Settings -->
    <div id="product_settings" class="z-20 fixed top-44 right-0 w-full max-w-md p-2 bg-white rounded-l-lg shadow-lg 
        transform translate-x-full transition-transform duration-300 ease-in-out"
    >
        <div class="flex flex-row items-stretch gap-x-2">

            <div class="flex flex-col gap-y-2 w-full">
                <!-- Product Filters -->
                {% if not category or not subcategory %}
                <div class="w-full p-2 text-center cinzel-semibold">Filtrar por</div>
                <div id="product_filters" class="flex flex-col gap-y-2 w-full text-primary-earth_tone_4">
                    <!-- Category Filter -->
                    {% if not category %}
                        {% if selected_subcategory_filter == "" %}
                        {% select_filter "category_filter" "selected_category_filter" "categoria" categories %}
                        {% endif %}

                        {% if selected_subcategory %}
                        {% select_filter "category_filter" "selected_category_filter" "categoria" selected_subcategory.categories.all %}
                        {% endif %}
                    {% endif %}
                    <!-- Subcategory Filter -->
                    {% if not subcategory %}                    
                        {% if category %}
                        {% select_filter "subcategory_filter" "selected_subcategory_filter" "subcategoria" category.subcategories.all %}
                        {% endif %}

                        {% if selected_category_filter == "" %}
                        {% select_filter "subcategory_filter" "selected_subcategory_filter" "subcategoria" subcategories %}
                        {% endif %}

                        {% if not category and selected_category %}
                        {% select_filter "subcategory_filter" "selected_subcategory_filter" "subcategoria" selected_category.subcategories.all %}
                        {% endif %}
                    {% endif %}
                </div>
                <!-- TODO: Add -> Remove filter button -->
                {% endif %}

                <!-- Product Orders -->
                <div class="w-full p-2 text-center cinzel-semibold">Ordenar por</div>
                <div id="product_orders" class="flex flex-col gap-y-2 w-full text-primary-earth_tone_4">
                    <!-- Created At Order -->
                    {% select_filter "creation_date_order" "selected_creation_date_order" "novedad" created_at_orders %}
                    <!-- Name Order -->
                    {% select_filter "name_order" "selected_name_order" "nombre" name_orders %}
                    <!-- Price Order -->
                    {% select_filter "price_order" "selected_price_order" "precio" price_orders %}
                </div>
                <!-- TODO: Add -> Remove filter button -->
            </div>

            <!-- Close Product Settings Button -->
            <button type="button" id="close_product_settings" onclick="toggleElementTranslateById('product_settings', 'translate-x-full')" 
                class="self-start my-1 text-primary-earth_tone_4 rounded-md focus:outline-none">
                {% include "icons/x-mark.html" with tailwind_class="size-7 transition-transform duration-300 ease-in-out hover:-rotate-90" %}
            </button>
            
        </div>
    </div>
</div>
