{% extends "base.html" %}
{% load static %}
{% load product_filter %}

{% block content %}
<head>
    <link rel="stylesheet" href="{% static 'css/categories.css' %}">
</head>
<body>

    <section class="relative w-full bg-yellow-50 mt-24">
        <div class="flex justify-center w-full pt-12">
            <div class="p-5 bg-yellow-100 text-center text-3xl text-black cinzel-semibold rounded-md">
                Categorias
            </div>
            <!-- add search input and filters -->
        </div>

        {% for category in categories %}
            {% if products|products_by_category:category %}
            <div class="flex justify-center w-full pt-12">
                <div class="p-5 bg-yellow-100 text-center text-5xl text-black cinzel-semibold rounded-md">
                    <a href="{% url 'category' name=category.name|lower %}">
                        {{ category.name }}
                    </a>
                </div>
            </div>

            <div class="all_category_card inline-flex overflow-x-scroll w-full h-full py-12 px-10 sm:px-12 gap-12">

                {% for product in products|products_by_category:category %} <!-- create an include -->
                <div class="relative flex flex-col items-center w-[15rem] md:w-[20rem] bg-white text-lg mukta-light
                    rounded-lg shadow-xl transform transition-transform duration-300 ease-in-out hover:scale-105">
                    <div class="absolute top-3 right-3 p-1 bg-white rounded-md shadow-md cursor-pointer">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" 
                            stroke-width="1.5" stroke="currentColor" class="w-8 h-8 text-primary-earth_tone_4">
                            <path stroke-linecap="round" stroke-linejoin="round" 
                                d="M15.75 10.5V6a3.75 3.75 0 1 0-7.5 0v4.5m11.356-1.993 1.263 12c.07.665-.45 1.243-1.119 1.243H4.25a1.125 1.125 0 0 1-1.12-1.243l1.264-12A1.125 1.125 0 0 1 5.513 7.5h12.974c.576 0 1.059.435 1.119 1.007ZM8.625 10.5a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm7.5 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Z" />
                                <text x="12" y="15.5" stroke-width="1" text-anchor="middle" dy=".3em" class="text-xs">+</text>
                        </svg>
                    </div>
                    <div class="w-[15rem] md:w-[20rem]">
                        <img class="w-full rounded-t-lg" src="{{ product.image|image_or_default }}" alt="image">
                    </div>
                    <div class="w-full p-2 text-center">
                        {{ product.name }}
                    </div>
                    <div class="flex flex-row justify-evenly w-full">
                        <div class="p-2">
                            Stock: {{ product.stock }}
                        </div>
                        <div class="p-2 font-semibold">
                            $ {{ product.price|convert_price_to_ARS:dollar_blue|format_number_AR }}
                        </div>
                    </div>
                </div>
                {% endfor %}
                
                {% if products|products_by_category:category|length == 10 %}
                <div class="relative flex flex-col items-center justify-center w-[15rem] md:w-[20rem] ">
                    <div class="w-[15rem] md:w-[20rem]">
                        <div class="p-5 bg-yellow-100 text-center text-3xl text-black cinzel-semibold rounded-md shadow-xl
                            transform transition-transform duration-300 ease-in-out hover:scale-105 cursor-pointer">
                            <a href="{% url 'category' name=category.name|lower %}">
                                Ver mas
                            </a>
                        </div>
                    </div>
                </div>
                {% endif %}

            </div>
            {% endif %}
        {% endfor %}

    </section>

</body>
{% endblock content %}
