{% extends "base.html" %}
{% load static %}
{% load inclusiontags.category_card_tag %}

{% block content %}
<head>
    <link rel="stylesheet" href="{% static 'css/categories.css' %}">
</head>
<body>

    <section class="relative w-full">
        <div class="banner_categories flex items-center justify-center w-full h-screen pt-24 bg-primary-earth_tone_4">
            <div class="z-10 text-center text-3xl lg:text-5xl text-primary-earth_tone_3 cinzel-semibold">
                Categorias
            </div>
            <!-- add search input and filters -->
        </div>
    </section>
    <section>
        <div class="grid grid-cols-1 sm:grid-cols-2 items-center content-evenly justify-items-center
            w-full h-full p-12 gap-12">

            {% for category in categories %}
            <a href="{% url 'category' name=category.slug %}"
                class="flex flex-col items-center justify-center w-full lg:w-3/4 h-fit p-4 
                bg-white text-center shadow rounded-lg transform transition-transform duration-300 
                ease-in-out hover:scale-105">
                <div class="w-full m-5">
                    <span class="text-2xl sm:text-3xl text-primary-earth_tone_4 cinzel-semibold">
                        {{ category.name }}
                    </span>
                </div>
                <img class="w-3/4 md:w-1/2 m-5" 
                    src="{% static 'images/category-icon/' %}{{ category.slug }}.png" alt="{{ category.slug }}">
            </a>
            {% endfor %}

        </div>
    </section>

</body>
{% endblock content %}
