{% extends "base.html" %}
{% load static %}
{% load product_card_tag %}
{% load product_filter %}

{% block content %}
<head>
    <link rel="stylesheet" href="{% static 'css/categories.css' %}">
</head>
<body>

    <section class="relative w-full">
        <div class="banner_categories flex items-center justify-center w-full h-[100vh] pt-24 bg-primary-earth_tone_4">
            <div class="z-10 text-center text-3xl lg:text-5xl text-primary-earth_tone_3 cinzel-semibold">
                Categorias
            </div>
            <!-- add search input and filters -->
        </div>

        {% for category in categories %}
            {% if products|products_by_category:category %}
            <div class="flex justify-center w-full pt-12">
                <div class="p-5 bg-primary-earth_tone_4 text-center rounded-md">
                    <a href="{% url 'category' name=category.name|lower %}">
                        <span class="text-3xl sm:text-4xl text-primary-earth_tone_3 cinzel-semibold">
                            {{ category.name }}
                        </span>
                    </a>
                </div>
            </div>

            <div class="all_category_card inline-flex overflow-x-scroll w-full h-full py-12 px-10 sm:px-12 gap-12">

                {% product_card products dollar_blue category %}
                
                {% if products|products_by_category:category|length == 10 %}
                <div class="relative flex flex-col items-center justify-center w-[15rem] md:w-[20rem] ">
                    <div class="w-[15rem] md:w-[20rem]">
                        <div class="p-5 bg-primary-earth_tone_4 text-center text-3xl text-primary-earth_tone_3 
                            cinzel-semibold rounded-md shadow-xl transform transition-transform duration-300 
                            ease-in-out hover:bg-primary-earth_tone_3 hover:text-primary-earth_tone_4 hover:scale-105
                            cursor-pointer">
                            <a href="{% url 'category' name=category.name|lower %}">
                                Ver mas
                            </a>
                        </div>
                    </div>
                </div>
                {% endif %}

            </div>
            {% endif %}
        {% endfor %}

    </section>

</body>
{% endblock content %}
