{% extends "base.html" %}
{% load static %}
{% load filters.product_filter %}

{% block content %}
<section class="w-full min-h-screen pt-32 md:pt-36">
    <div class="flex-1 flex flex-col w-full h-full">

        <!-- Label -->
        <div class="w-full p-6 bg-primary-earth_tone_4 text-center">
            <span class="text-2xl sm:text-4xl text-primary-earth_tone_3 cinzel-semibold">
                Confirmacion
            </span>
        </div>

        <!-- Cart Checkout -->
        <div class="flex flex-col justify-center md:justify-start gap-y-6 w-full max-w-3xl py-8 px-4 md:p-12">

            <!-- Cart Items -->
            <div class="px-2 bg-white rounded-sm shadow-lg">
                {% for item in cart_items %}
                <div class="relative w-full py-2 bg-white text-center border-b border-b-1">
                    <div class="flex flex-row">
                        <div class="w-4/5 md:w-1/3">
                            <img class="w-full" src="{{ item.product.image.url }}" alt="image">
                        </div>
                        <div class="flex flex-col md:flex-row items-center justify-center md:justify-between gap-y-1 w-full md:px-4">
                            <div class="flex flex-col gap-1">
                                <div>{{ item.product.name }}</div>
                                <div>Talle {{ item.size }}</div>
                            </div>
                            <div class="flex flex-col gap-1">
                                <div class="font-semibold">$ {{ item.price|convert_price_to_ARS:dollar_blue|format_number_AR }}</div>
                                <div>Cantidad x{{ item.quantity }}</div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>

            <!-- Total Cart Amount -->
            <div class="bg-white rounded-sm shadow-lg">
                <div class="flex flex-col gap-y-2 p-2">
                    <div class="flex flex-row justify-between">
                        <div class="text-md text-primary-earth_tone_4 font-semibold mukta-light">
                            Subtotal:
                        </div>
                        <div class="text-md font-semibold">
                            $ {{ cart.total_price|convert_price_to_ARS:dollar_blue|format_number_AR }}
                        </div>
                    </div>
                    <div class="flex flex-row justify-between">
                        <div class="text-md text-primary-earth_tone_4 font-semibold mukta-light">
                            Envio:
                        </div>
                        <div class="text-md font-semibold">
                            $ {{ 0|format_number_AR }} <!-- Agregar boton de añadir costo de Envio -->
                        </div>
                    </div>
                </div>
                <div class="flex flex-row justify-between p-3 bg-primary-earth_tone_4 rounded-b-sm">
                    <div class="text-lg text-primary-earth_tone_3_light cinzel-semibold">
                        Total:
                    </div>
                    <div class="text-lg text-white font-semibold">
                        $ {{ cart.total_price|convert_price_to_ARS:dollar_blue|format_number_AR }}
                    </div>
                </div>
            </div>
            
            <!-- Buttons -->
            <div class="flex flex-row w-full justify-center sm:justify-start gap-x-4">
                <a href="{% if request.META.HTTP_REFERER %} {{ request.META.HTTP_REFERER }} {% else %} {% url 'index' %} {% endif %}" 
                    class="w-full p-3 bg-white text-primary-earth_tone_4 
                    text-lg text-center font-medium rounded-md mukta-light shadow-md hover:bg-gray-50/70">
                    Volver
                </a>
                <form method="POST" action="{% url 'payment' %}" class="flex flex-col w-full">
                    {% csrf_token %}
                    <button type="submit" class="p-3 bg-primary-earth_tone_4 text-lg text-white 
                        text-center font-medium rounded-md mukta-light shadow-md hover:bg-primary-earth_tone_4/70">
                        Confirmar
                    </button>
                </form>
            </div>

        </div>
    </div>
</section>
{% endblock content %}
