{% extends "base.html" %}
{% load static %}
{% load category_card_tag %}
{% load product_card_tag %}
{% load product_filter %}

{% block content %}
<head>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
</head>
<body>
    <section class="relative w-full h-full pt-24 bg-primary-earth_tone_3"> <!-- class banner -->
        <div class="grid grid-cols-1 sm:grid-cols-2 items-center content-evenly justify-items-center
            w-full h-full py-12 px-12 gap-12">

            {% for category in categories %}
                {% url 'category' name=category.name|lower as category_url %}
                {% index_category_card category_url category.name %}
            {% endfor %}

        </div>
    </section>
    <section class="relative w-full">
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 items-center content-evenly 
            justify-items-center w-full h-full py-12 px-12 gap-12">
            
            {% product_card products dollar_blue %}
            
        </div>
    </section>
</body>
<script src="{% static 'js/index.js' %}"></script>
{% endblock content %}
