{% extends "base.html" %}
{% load static %}

{% block content %}
<head>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
</head>
<body>
    <section class="banner relative w-full h-[70rem] sm:h-[40rem]">
        <div class="grid grid-cols-1 sm:grid-cols-2 items-center content-evenly justify-items-center
            w-full h-full py-8 gap-y-8 sm:p-0 sm:gap-0">


            <div class="w-3/4 h-52 flex flex-col items-center justify-center bg-white shadow rounded-lg
                text-center">
                <div class="w-full p-5">
                    <span class="text-3xl cinzel-600">Anillos</span>
                </div>
            </div>
            <div class="w-3/4 h-52 flex items-center justify-center bg-white shadow rounded-lg 
                text-center">
                <div class="w-full p-5">
                    <span class="text-3xl cinzel-600">Aros</span>
                </div>
            </div>
            <div class="w-3/4 h-52 flex items-center justify-center bg-white shadow rounded-lg 
                text-center">
                <div class="w-full p-5">
                    <span class="text-3xl cinzel-600">Colgantes</span>
                </div>
            </div>
            <div class="w-3/4 h-52 flex items-center justify-center bg-white shadow rounded-lg 
                text-center">
                <div class="w-full p-5">
                    <span class="text-3xl cinzel-600">Pulseras</span>
                </div>
            </div>


        </div>
    </section>
    <h1 class="bg-red-300">
        Hello Tailwind
    </h1>
</body>
{% endblock content %}
