{% extends "base.html" %}
{% load static %}
{% load unicorn %}
{% load filters.product_filter %}

{% block content %}
<head>

</head>
<body>
    <section class="relative w-full pt-36 pb-12">
        <div class="relative grid grid-cols-1 md:grid-cols-2 w-full gap-y-12 px-8 
            md:gap-x-20 md:px-16 lg:gap-x-36 lg:px-32">

            <div class="relative flex flex-col items-center w-full h-fit bg-white text-lg mukta-light 
                rounded-lg shadow-xl">
                <div class="w-full overflow-hidden rounded-lg" id="image_container">
                    <img class="w-full transition-transform duration-500 ease-in-out transform" 
                        id="zoom_image" src="{{ product.image|image_or_default }}" alt="image">
                </div>
                <button type="button" onclick="addToCart('{{ product.uuid }}')"
                    class="absolute top-2 right-2 p-1 bg-white rounded-md shadow-md cursor-pointer">
                    {% include "../icons/shopping-bag-add.html" %}
                </button>
            </div>

            <div class="relative flex flex-col gap-y-6 w-full h-fit p-4 bg-white text-xl mukta-light 
                rounded-lg shadow-xl">
                <div class="flex flex-col items-center w-full">
                    <div class="w-full p-2 text-center text-2xl text-primary-earth_tone_4 font-medium">
                        {{ product.name }}
                    </div>
                    <div class="p-2 text-black font-semibold">
                        $ {{ product.price|convert_price_to_ARS:dollar_blue|format_number_AR }}
                    </div>
                </div>
                <div>
                    <form id="product_form_{{ product.uuid }}" class="flex flex-col items-center w-full">
                        {% csrf_token %}
                        {% unicorn "product-variation" product=product %}
                    </form>
                </div>
                {% if product.description %}
                <div class="flex flex-col items-center w-full">
                    <div class="p-1 text-gray-500">Descripción: </div>
                    <div class="p-1">{{ product.description }}</div>
                </div>
                {% endif %}
                <div class="flex flex-col items-center w-full">
                    <div class="p-2">
                        <span class="text-gray-500">Categoría: </span>
                        <a href="{% url 'category' name=product.category.slug %}">
                            <span class="font-medium">{{ product.category.name }}</span>
                        </a>
                    </div>
                    <div class="p-2">
                        <span class="text-gray-500">Subcategoría: </span>
                        <a href="{% url 'subcategory' name=product.category.slug sub_name=product.subcategory.slug %}">
                            <span class="font-medium">{{ product.subcategory.name }}</span>
                        </a>
                    </div>
                </div>
            </div>
            
        </div>
    </section>
</body>

<script src="{% static 'js/product.js' %}"></script>

{% endblock content %}
