{% if page_data.has_other_pages %}
<div class="flex flex-row gap-x-6 items-center justify-center">
    {% if page_data.has_previous %}
    <div unicorn:click="update_products('{{ page_data.previous_page_number }}')">
        <div class="cursor-pointer transition-transform duration-300 ease-in-out hover:scale-110">
            {% include "../../icons/arrow-down.html" with rotate="rotate-90" tailwind_class="size-6 text-primary-earth_tone_4" %}
        </div>
    </div>
    {% endif %}

    <div class="flex flex-row gap-x-2">
        {% for num in page_numbers %}
            {% if page_data.number == num %}
            <div class="px-4 py-1 bg-primary-earth_tone_4 text-center text-lg text-primary-earth_tone_3
                rounded-sm cursor-default">
                {{ num }}
            </div>
            {% else %}
            <div unicorn:click="update_products('{{ num }}')">
                <div class="px-3 py-1 text-center text-lg text-primary-earth_tone_4 border-b-2
                    border-primary-earth_tone_4 rounded-sm cursor-pointer
                    transition-transform duration-300 ease-in-out hover:scale-105">
                    {{ num }}
                </div>
            </div>
            {% endif %}
        {% endfor %}
    </div>

    {% if page_data.has_next %}
    <div unicorn:click="update_products('{{ page_data.next_page_number }}')">
        <div class="cursor-pointer transition-transform duration-300 ease-in-out hover:scale-110">
            {% include "../../icons/arrow-down.html" with rotate="-rotate-90" tailwind_class="size-6 text-primary-earth_tone_4" %}
        </div>
    </div>
    {% endif %}
</div>
{% endif %}
