{% load product_filter %}

{% if category is None %}
    {% for product in products %}
    <div class="relative flex flex-col items-center w-full bg-white text-lg mukta-light 
        rounded-lg shadow-xl transform transition-transform duration-300 ease-in-out hover:scale-105">
        
        {% include "../../icons/shopping-bag-add.html" %}

        <div class="w-full">
            <img class="w-full rounded-t-lg" src="{{ product.image|image_or_default }}" alt="image">
        </div>
        <div class="w-full p-2 text-center">
            {{ product.name }}
        </div>
        <div class="flex flex-row justify-evenly w-full">
            <div class="p-2">
                Stock: {{ product.stock }}
            </div>
            <div class="p-2 font-semibold">
                $ {{ product.price|convert_price_to_ARS:dollar_blue|format_number_AR }}
            </div>
        </div>
    </div>
    {% endfor %}
{% else %}
    {% for product in products|products_by_category:category %}
    <div class="relative flex flex-col items-center bg-white text-lg mukta-light
        rounded-lg shadow-xl transform transition-transform duration-300 ease-in-out hover:scale-105">

        {% include "../../icons/shopping-bag-add.html" %}

        <div class="w-[15rem] md:w-[20rem]">
            <img class="w-full rounded-t-lg" src="{{ product.image|image_or_default }}" alt="image">
        </div>
        <div class="w-full p-2 text-center">
            {{ product.name }}
        </div>
        <div class="flex flex-row justify-evenly w-full">
            <div class="p-2">
                Stock: {{ product.stock }}
            </div>
            <div class="p-2 font-semibold">
                $ {{ product.price|convert_price_to_ARS:dollar_blue|format_number_AR }}
            </div>
        </div>
    </div>
    {% endfor %}
{% endif %}
